<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand"><a href="/"><span class="sws-logo">{<p class="fa fa-signal"></p>}</span> swagger-stats</a></div>
    </div>
    <div id="navbar" class="pull-right navbar-collapse collapse" aria-expanded="false" style="height: 0.555556px;">
      <ul class="nav navbar-nav">
        <!--
        <li id="nav-docs" class="sws-nav-li"><a href="docs.html">Docs</a></li>
        <li id="nav-updates" class="sws-nav-li"><a href="updates.html">Updates</a></li>
        <li id="nav-blog" class="sws-nav-li"><a href="blog.html">Blog</a></li>
        <li id="nav-test" class="sws-nav-li"><a href="test.html">Test</a></li>
         -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

